.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.noAnchor{
  cursor:pointer;
  color:rgb(51, 162, 255);
}

.noAnchor:hover{
  cursor:pointer;
  color:rgb(134, 201, 255);
  text-decoration:underline;
}

.gridCenter {
  display: grid;
  place-items: center;
}

.orange {
  background-color: #ff6600 !important;
  color: white !important;
}

.orange:hover {
  background-color: #ed5f00 !important;
  color: white !important;
}
